@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(120deg, #0b0014, #420000, #8b0000);
  color: white;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
}

nav h1 {
  font-size: 28px;
  font-weight: 800;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
}

nav a:hover {
  color: yellow;
  transform: scale(1.1);
}

/* Hero */

.hero {
  text-align: center;
  padding: 110px 30px;
}

.hero h1 {
  font-size: 55px;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

.nav-btn {
  background: transparent;
  color: white;
  border: 2px solid #ffd700;
  padding: 6px 14px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #ffd700;
  color: black;
  transform: scale(1.1);
}


/* Section cards */

.section {
  margin: 40px auto;
  width: 85%;
  background: rgba(255, 255, 255, 0.08);
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}

.section h2 {
  font-size: 28px;
  color: #ffd700;
  margin-bottom: 10px;
}

/* Footer */

footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
}
